<!-- Modal -->
<div class="modal-box" #modalBox>
  <div class="modal" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" tabindex="0" role="dialog" [attr.aria-label]="title">
      <!-- Modal content-->
        <div class="modal-header">
          <button type="button" aria-label="Close" tabindex="0" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="modal-body" tabindex="-1">
          <div #datacontainer></div>
        </div>
    </div>
  </div>
