.modal{
    display: block;
    z-index: 9999;
}
.modal-backdrop{
    z-index: 9999;
}
.modal-dialog:focus, .modal-header .close:focus {
    box-shadow: 0 0 0 2px #adf;
    outline: none;
}
.modal-header{
    background-color: #056cce;
    color: #FFF;
}
.modal-body{
    background-color: #fff;
}
.modal-header .close{
    color: #fff;
    opacity: 1;
    font-size: 30px;
    margin-top: -5px;
}