<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 align="center">
    Welcome to {{ title }}!
  </h1>

  
  <div class="col-md-2">
    <button type="button" 
      class="btn btn-success  btn-block"
      modal-box 
      [title]='"Demo Modal 1"'
      [componentData]="data1"
      [componentName]="'Demo1Component'">
      Demo Modal 1
    </button>
  </div>  

  <div class="col-md-2">
    <button type="button" 
      class="btn btn-danger  btn-block"
      modal-box 
      [title]='"Demo Modal 2"'
      [componentData]="data2"
      [componentName]="'Demo2Component'">
      Demo Modal 2
    </button>
  </div>  


</div>


